body { background: #ea5bd; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 12px; display: flex; }
.block-config-0 { color: #b7f055; font-size: 19px; margin-bottom: 5px; }
.block-token-1 { color: #e2551; font-size: 15px; margin-bottom: 5px; }
.block-uploader-2 { color: #85b581; font-size: 12px; margin-bottom: 5px; }
.block-cluster-3 { color: #8d7407; font-size: 19px; margin-bottom: 5px; }
.block-invoice-4 { color: #ceb0d1; font-size: 21px; margin-bottom: 5px; }
.block-token-5 { color: #7e115b; font-size: 20px; margin-bottom: 5px; }
.block-invoice-6 { color: #c00839; font-size: 20px; margin-bottom: 5px; }